/* general style */
html{
    font-size: 100%;
}
body{
    color: #555;
    font-family: sans-serif;
}

/* common */
p{
    line-height: 1.7;
}

/* layout */
.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* btn */
.btn{
    font-family: 'Noto Serif KR', serif;
    display: inline-block;
    padding: 1.25rem 3.25rem;
    font-size: 1.375rem;
    text-align: center;
    width: 100%;
}
.btn-primary{
    color:#fff;
    background:rgb(82, 51, 51)
}
.btn-primary:hover{
    background:#3a7edf;
}
.btn-secondary{
    color: #555;
    background:#d0bea2;
}
.btn-secondary:hover{
    background:#d9cebe;
}

/* heading */
.title{
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    line-height:1.5;
}
.title::after{
    content: '';
    display: block;
    height:5px;
    width:10rem;
    background:#d0bea2;
    margin:2rem 0 2.5rem;
}
.title-center {
    text-align:center;
}
.title-center::after {
    margin:2.5rem auto;
}

/* header */
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin:auto;
}
.main-nav{
    display: flex;
}
.main-nav li{
    text-align: center;
    font-size: .75rem;
}
.logo{
    width:2rem;
}
.main-nav a{
    display: block;
    padding: .5rem;
    width:auto;;
}
.main-nav a::before {
    display: block;
    margin-bottom: .25rem;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    color: #555;
    font-size: 1.25rem;
} 
.main-nav .current {
    background: #f8f6f2;
}

/* home */
.home-hero{
    background: url('https://velog.velcdn.com/images/w4t3r/post/a578c89b-98de-4b7a-89dd-eb28474f4fec/image.jpg') no-repeat right top / 70vw auto;
    padding: 5.5rem 1rem 3rem;
}
.home-hero h2 {
    font-family: 'Georgia', serif;
    font-size: 1.5rem;
    margin: 8vw 0 12vw;
    background: rgba(255,255,255,.8);
    padding: 1rem;
    display: inline-block;
}
.home-hero p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

/* contents */
.brown-bg {
    background: #f8f6f2;
}
.content {
    padding: 4rem 1rem;
}
.home-text {
    margin-bottom: 2rem;
}

/* footer */
footer {
    background: grey;
    color: rgba(255,255,255,.8);
    padding: 3.5rem 1rem;
    text-align:center;
}
.footer-nav {
    display: flex;
    justify-content: center;
}
footer .btn {
    margin-bottom:3.5rem;
}
.footer-nav li {
    margin: 1rem 0;
}
.footer-nav a {
    color:#d5d7e4;
}



@media (min-width: 600px) {
/* Common */
main {
    padding: 5rem;
}
.btn {
    width: auto;
}
.title {
    font-size: 1.875rem;
}

/* Header */
header .wrapper {
    padding: 2rem 1rem;
}
.logo {
    width: 2rem;
}
.main-nav li {
    margin-left: 2rem;
    font-family: 'Noto Serif KR', serif;
    font-size: 1.25rem;
}
.main-nav a {
    width: auto;
}
.main-nav a:hover,
.main-nav .current {
    border-bottom: 2px solid #2d3374;
    padding-bottom: .5rem;
    background: none;
}
.main-nav a::before {
    content: '';
}

/* Home */
.home-hero {
    padding: 16vw 1rem;
}
.home-hero h2 {
    font-size: 2.5rem;
    margin: 0 0 2rem;
    background: none;
    padding: 0;
}
.home-hero p {
    width: 38vw;
}
/* Contents */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem;
}
.home-text {
    width: 50vw;
    margin-bottom: 0;
}

/* Footer */
.footer-nav {
    display: flex;
    justify-content: center;
}
.footer-nav li {
    margin: 0 .75rem;
}
.footer-nav a:hover {
    color: #fff;
}
}
 